:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 16px;
  line-height: 30px;
}

a {
  font-weight: 500;
  color: #ff5e00;
  text-decoration: inherit;
}

a:hover {
  color: #f29b53;
}

a>i:hover {
  transform: scale(1.1);
  transition: 500ms;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffbe74;
  }
  button {
    background-color: #f9f9f9;
  }
}

md-block {
  font-size: medium;
  width: 100%;
}

.text-divider {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  --text-divider-gap: 3rem;
}

.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}

.text-divider::before {
  margin-right: var(--text-divider-gap);
}

.text-divider::after {
  margin-left: var(--text-divider-gap);
}

::selection {
  color: white;
  background-color: #FF7256;
}

/* Safari Chrome*/

::-moz-selection {
  color: white;
  background-color: #FF7256;
}

.chart {
  width: 1000px;
  height: 480px;
}

.container {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.loading {
  z-index: 10;
  width: 30%;
  height: 30%;
  display: inline-block;
}

@keyframes ldio-5vf2fuygssf {
   0% { transform: translate(12px,80px) scale(0); }
  25% { transform: translate(12px,80px) scale(0); }
  50% { transform: translate(12px,80px) scale(1); }
  75% { transform: translate(80px,80px) scale(1); }
 100% { transform: translate(148px,80px) scale(1); }
}
@keyframes ldio-5vf2fuygssf-r {
   0% { transform: translate(148px,80px) scale(1); }
 100% { transform: translate(148px,80px) scale(0); }
}
@keyframes ldio-5vf2fuygssf-c {
   0% { background: #514134 }
  25% { background: #dbae1d }
  50% { background: #d28d4f }
  75% { background: #e35839 }
 100% { background: #514134 }
}
.ldio-5vf2fuygssf div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(80px,80px) scale(1);
  background: #514134;
  animation: ldio-5vf2fuygssf 1s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-5vf2fuygssf div:nth-child(1) {
  background: #e35839;
  transform: translate(148px,80px) scale(1);
  animation: ldio-5vf2fuygssf-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-5vf2fuygssf-c 1s infinite step-start;
}.ldio-5vf2fuygssf div:nth-child(2) {
  animation-delay: -0.25s;
  background: #514134;
}.ldio-5vf2fuygssf div:nth-child(3) {
  animation-delay: -0.5s;
  background: #e35839;
}.ldio-5vf2fuygssf div:nth-child(4) {
  animation-delay: -0.75s;
  background: #d28d4f;
}.ldio-5vf2fuygssf div:nth-child(5) {
  animation-delay: -1s;
  background: #dbae1d;
}
.loadingio-spinner-ellipsis-9jvoq1er23r {
  z-index: 30;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;

  width: 200px;
  height: 200px;
  overflow: hidden;
  /* background: #f1f2f3; */
  opacity: 0.9;
}
.ldio-5vf2fuygssf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-5vf2fuygssf div { box-sizing: content-box; }
/* generated by https://loading.io/ */
